body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gaegu', cursive;
  background-color: #f0f0f0;
}

h1 {
  color: #181823;
  margin-bottom: 0.1em; /* Decreased from 0.5em to 0.2em */
}

h3 {
  color: #32CD52;
  margin-top: 0.1em; /* Decreased from 0.5em to 0.2em */
  margin-bottom: 2em; /* Increased from 1em to 2em */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  max-width: 100%;
  gap: 16px;
  margin-bottom: 1em;
}

img {
  width: calc(25% - 16px);
  max-width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

h2 {
  color: #181823; 
  margin-bottom: 0.01em; /* Increased from 1em to 2em */
}

#result {
  font-size: 24px;
  font-weight: bold;
  color: #181823;
}

#replay-button {
  font-family: 'Gaegu', cursive;
  font-size: 24px;
  background-color: white;
  border: 2px solid black;
  border-radius: 32px;
  padding: 8px 12px;
  margin-top: 24px; /* Add a margin to move the button a bit lower */
  cursor: pointer;
  transition: 0.3s;
}

#replay-button:hover {
  background-color: #f2f2f2; /* Change the background color when hovering */
}
